services:
  postgres:
    container_name: boilerplate-postgres
    image: postgres:14
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
    volumes:
      - boilerplate_postgres_data:/var/lib/postgresql/data/
    networks:
      - main
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

  app:
    build: .
    container_name: boilerplate-app
    command: >
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_HOST: postgres
      DB_NAME: mydb
      DB_USER: myuser
      DB_PASSWORD: mypass
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    networks:
      - main
    restart: always

networks:
  main:

volumes:
  boilerplate_postgres_data:
